{% extends '::base.html.twig' %}

{% block body %}
    <h3>Product manager</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Discount price</th>
                <th>Category</th>
                <th>Addition Date</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{%  set product_promotion = calc.calculate(product) %}
                    ${{ product_promotion | number_format(2) }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.additionDate|date("d/m/Y")  }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <form action="{{ path('product_delete', {'id': product.id}) }}"><button type="submit" class="btn btn-danger btn-xs">Delete</button></form>
                </td>
                <td>
                    <form action="{{ path('product_edit', {'id': product.id}) }}"><button type="submit" class="btn btn-success btn-xs">Edit</button></form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success btn-xs" href="{{ path('product_add') }}">Add product</a>
    <a class="btn btn-success btn-xs" href="{{ path('list_categories') }}">Categories manager</a>
    <a class="btn btn-success btn-xs" href="{{ path('promotions') }}" class="navbar-brand">Manage promotions</a>
{% endblock %}

