{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ user.username }}'s profile</h1>
        <p>Wallet: ${{ user.wallet }}</p>
        <p>Roles: </p>
        {%  for role in user.roles %}
            {%  if role == 'ROLE_USER' %}
                User
            {% endif %}
            {%  if role == 'ROLE_EDITOR' %}
                Editor
            {% endif %}
            {%  if role == 'ROLE_ADMIN' %}
                Admin
            {% endif %}
        {% endfor %}
        <p>
            Owned items:
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Owned</th>
                    <th>Sale</th>
                </tr>
            </thead>
            <tbody>
                {% for product in user.products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ ownedItems.fetchCount(user, product) }}</td>
                        <td>
                            {% if ownedItems.forSale(user, product) %}
                                Yes
                                {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('put_for_sale', {'user': user.id, 'product': product.id}) }}">Put for sale</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            {% for product in user.products   %}

            {% endfor %}
        </p>
    </div>
{% endblock %}

